

@media(max-width:991px){
    .services-section .services-item,
    .project-section .project-item {
        flex:0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 767px){
    .contact-section .w-50,
    .contact-section .contact-item,
    .project-popup .description,
    .project-popup .info,
    .project-section .project-item,
    .services-section .services-item,
    .about-section .Skills .skill-item,
    .about-section .about-image,
    .about-section .about-info,
    .home-section .info,
    .home-section .profile-img{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-section .info{
        order: 2;
        text-align: center;
    }

    .contact-section .submit-btn{
        text-align: center;
    }
    /* .about-info .button-2{
        margin: 0 auto;
    } */

    .home-section .full-screen{
        padding: 100px 0;
    }

    .home-section .profile-img .img-box{
             margin-bottom: 40px;
             max-width:350px ;
    }

      .about-section .about-image{
          padding-bottom: 30px;
      }

      .about-section .timeline .timeline-item:nth-child(odd){
          padding-right: 15px;
          text-align: left;
          padding-left: 75px;
      }
      .about-section .timeline .timeline-item:nth-child(even){
          padding-left: 75px;
    }
    .timeline::before{
        left: 35px;
    }

    .about-section .timeline .timeline-item:nth-child(odd) .icon{
        right: auto;
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon{
        left: -60px;
    }

    .about-section .timeline .timeline-item{
        margin-bottom: 40px;
    }
    .about-section .timeline .timeline-item:last-child{
        margin-bottom: 0;
    }

    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
        left: -30px;
        right: auto;
    }
    

}

@media(max-width:574px){
    .home-section .profile-img .img-box{
        max-width: 260px;
    }

    .home-section .info h1{
        font-size: 40px;
    }
}