@import url(./skins/color-1.css);
/* @import url(./skins/color-2.css);
@import url(./skins/color-3.css);
@import url(./skins/color-4.css);
@import url(./skins/color-5.css); */

/*=====================
Fonts
=======================
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=====================
Global CSS
=======================
*/

/* Define custom color for black variablers*/
:root{
--bg-black-900:#696969;
--bg-black-100:#a9a9a9;
--bg-black-50:#b5b5b5;
--text-black-900:#2b2929;
--text-black-700:#555555;
--text-black-600:#8f8f8f;
--text-black-300:#696969;
--outer-shadow: 3px 3px 3px #8f8f8f, -3px -3px 3px #cccccc;
--outer-shadow-0:0px 0px 0px #8f8f8f, 0px 0px 0px #cccccc;
--inner-shadow:inset 3px 3px 3px #8f8f8f, inset -3px -3px 3px #cccccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

*:not(i){
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

:before, :after{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.outer-shadow{
    box-shadow: var(--outer-shadow);
}

.inner-shadow{
    box-shadow: var(--inner-shadow);
}

.hover-in-out{
    position: relative;
    z-index: 1;
}

.hover-in-out:hover{
    box-shadow: var(--outer-shadow-0);
}

.hover-in-out:after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-out:hover:after{
    box-shadow: var(--inner-shadow);
}

/****BUTTONS****/

.button-1{
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    color: var(--skin-color);
    background-color: transparent;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}

.button-1:after{
    border-radius: 30px;
}


/*=====================
Header
=======================
*/

.header{

    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo a{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 50%;
    color: var(--skin-color);
   border: 2px solid var(--skin-color);
   font-weight: 600;
   text-transform: uppercase;
}

.nav-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
 
}
.nav-btn:after{
    border-radius: 50%;
}

.nav-btn span{
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--bg-black-900);
    position: relative;
}

.nav-btn span:before,
.nav-btn span:after{
     content:' ';
     position : absolute;
     left:0;
     width:100%;
     height:100%;
     background-color: var(--bg-black-900);

}
.nav-btn span:before{
    top: -6px;
}

.nav-btn span:after{
    top: 6px;
}

/*=====================
Navigation
=======================
*/

.nav-menu{
    /* display: none; */
    position:fixed ;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%;
    width: 100%;
    z-index: -1;
   opacity: 0;
visibility: none;
    overflow-y: auto;
}

.close-nav-menu{
    position: absolute;
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    cursor: pointer;
    top: 15px;
    right: 15px;
    color: var(--text-black-900);
    transition: all 0.3s ease;
}

.close-nav-menu:after{
    border-radius: 50%;
}

.nav-menu-inner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul{
  padding: 15px;
  text-align: center;
}

.nav-menu ul li{
    display: block;
    margin-bottom: 20px;
}

.nav-menu ul li:last-child{
    margin-bottom: 0;
}

.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-300);
    padding: 5px 30px;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.3s ease;

}

.nav-menu ul li a:after{
    border-radius:30px;
}

 ul li a.active{
   color:  var(--skin-color);
 }

 /*=====================
Home section
=======================
*/

.home{
    position: relative;
}

/*****Effects******/

.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}

.effect-1{
    width: 40px;
    height: 40px;
    border: 3px solid #eb7f21;
    bottom: 10%;
    right: 10%;
    animation: spin infinite 3s linear;
}

.diamond{
    width: 50px;
    height: 50px;
 border: 2px solid rgb(221, 109, 17);
   transform: rotate(45deg);
   bottom: 10%;
   left: 30%;
   animation: spin infinite linear 3s;
}

.heart {
    font-size: 100px;
    color: rgb(233, 104, 104);
    right: 50%;
    bottom: 5%;

    animation: focus infinite alternate 3s;
}

@keyframes focus{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.sub-effect-1{
    width: 20px;
    height: 20px;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    animation: spinn infinite linear infinite;
}

@keyframes spinn{
    0%{
        transform:rotate3d(360deg) ;
    }

    100%{
        transform: rotate3d(0deg);
    }
}


.home .full-screen{
    padding:50px 0;
    min-height: 100vh;
}

.full-screen{
    align-items: center;
}

 .info,
.profile-img{
flex: 0 0 50%;
max-width: 50%;
padding:  0 15px;
}

 .info h1{
     font-size: 55px;
     font-weight: 700;
color: var(--text-black-900);
margin: 0;
}

.info h1 span{
    color: var(--skin-color);
    font-weight: 700;
}

.info p{
font-size: 30px;
font-weight: 500;
color:var(--text-black-700) ;
margin: 0;
}

.info .button-1{
    margin-top: 30px;
}


.profile-img .img-box{
    max-width: 400px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.profile-img .img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
    background-color: #8a7b6e;
}



/* //Changing words */

span.typed{
    font-weight: 500;
    color: var(--skin-color);
}

span.typed:before{
    content: "Web Developer";
    animation: animate infinite 3s ;
    padding-left:10px;
}

@keyframes animate{
    0%{
        content: "Web Designer";
    }
    50%{
        content: "FreeLancer";
    }
    75%{
        content: "Student";
    }

}